<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8">
    <title>api_pr5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Список <span>Контактов</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <input class="form-control" id="search" placeholder="Поиск по id" type="text">
                                <button class="btn btn-default" id="searchButton" title="Search"><i
                                        class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-default" id="delete" title="Delete"><i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Number</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="table">
                        <tr>
                            <td>id</td>
                            <td><input class="form-control" id="name" placeholder="Введите имя" required
                                       type="text"></td>
                            <td><input class="form-control" id="number" placeholder="Введите номер" required
                                       type="text"></td>
                            <td>
                                <ul class="action-list">
                                    <li id="create"><a data-tip="add" href="#"><i class="fa fa-plus"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--                <div class="panel-footer">-->
                <!--                    <div class="row">-->
                <!--                        <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>-->
                <!--                        <div class="col-sm-6 col-xs-6">-->
                <!--                            <ul class="pagination hidden-xs pull-right">-->
                <!--                                <li><a href="#"><</a></li>-->
                <!--                                <li class="active"><a href="#">1</a></li>-->
                <!--                                <li><a href="#">2</a></li>-->
                <!--                                <li><a href="#">3</a></li>-->
                <!--                                <li><a href="#">4</a></li>-->
                <!--                                <li><a href="#">5</a></li>-->
                <!--                                <li><a href="#">></a></li>-->
                <!--                            </ul>-->
                <!--                            <ul class="pagination visible-xs pull-right">-->
                <!--                                <li><a href="#"><</a></li>-->
                <!--                                <li><a href="#">></a></li>-->
                <!--                            </ul>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
<script src="js/addContact.js"></script>
<script src="js/deleteById.js"></script>
<script src="js/getAllContacts.js"></script>
<script src="js/getContactById.js"></script>
<script src="js/update.js"></script>

</body>
</html>